@import '../../../shared/styles/variables.scss';

.content {
  margin: 2px 2px 0;
  padding: 0 2px 2px 0;
  //height: calc(100% - 27px);
  overflow-y: scroll;

  height: 932px;

  display: flex;
  flex-direction: column;
  gap: 2px;
}

.drawnLine {
  background-color: aquamarine;
  height: 10px;
  width: 100px;
}

.Dropdown_disabled {
  font-size: 13px;
  border: solid 0.5px rgb(182, 182, 182);
  background-color: white;
  width: 280px;
  height: 20px;
  color: grey;
  padding-left: 4px;
  padding-top: 1px;
  box-sizing: border-box;
}
